{% extends "base.html" %}

{% block title %}{{ author.fullname }}{% endblock %}

{% block content %}

<div class="row">

  
  <div class="col-md-offset-1 col-md-8">
  

    {% include '_flashmessages.html' %}
    
    {% if author.id == session['author_id'] %}
      <a href="{{ url_for('edit_author', author_id = author.id)}} "> {{ author.fullname }} edit your profile</a>
    {% endif %}
    
    {% if author.image %}
    <img src="{{ author.imgsrc }}" height="300px" class="img-rounded" />
    {% endif %}


    
    <hr />
    <div class="text-muted">Posted by <a href="#">{{ author.fullname }}</a> 
    </div>
  </div>  
</div>


{% endblock %}